
@font-face{font-family:"icon";src:url("icon.woff2");}
@font-face{font-family:"windowsicon";src:url("windowsicon.ttf");}
@font-face{font-family:"font";src:url("font.ttf");}
html{font-size:16px;font-family:"font","微软雅黑";}
body{margin:0;user-select:none;}
body:not(.appLoading){background:#F9F9FB;}
i{font-family:"icon";font-style:normal;}
img{pointer-events:none;}
*{box-sizing:border-box;outline:none;}
*[hidden]{display:none!important;}
::-webkit-scrollbar{display:none;}
button{background:#1E9FFF;color:white;border:0;border-radius:5px;padding:0 20px;font-size:15px;transition:filter .2s;font-family:inherit;height:30px;}
button.sub{background:#DAEFFF;color:#1E9FFF;}
button.square{width:30px;padding:0;}
button:hover{filter:brightness(.95);}
button:active{filter:brightness(.9);}
button:disabled{filter:grayscale(1)!important;}
.buttonGroup{height:30px;display:flex;border-radius:5px;overflow:hidden;width:fit-content;}
.buttonGroup button{border-radius:0;}
a{color:#1E9FFF;text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{opacity:.8;text-decoration:underline;}
input,select{background:rgba(0,0,0,.03);padding:8px 10px;border-radius:5px;border:0;font-size:1rem;font-family:inherit;width:100%;margin:5px 0;}
::selection{background:#DAEFFF;color:black;}


.left .leftBar div,.right .musicListTitle section b,
.right .musicListTitle section .details,
.bottom .info .musicInfoBottom,
.bottom .info .musicInfoBottom>div>*,
.controls .musicInfo,
.list>div>div>*,
.right #downloadContainer>div>.info>.music>b{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


/* 主窗体 - 加载动画 */
.loadingSplash{transition:opacity .2s;position:fixed;z-index:200;inset:0;display:flex;align-items:center;justify-content:center;transition:opacity .2s;background:#1E9FFF;}
.loadingSplash>img{width:250px;height:250px;}
body:not(.appLoading) .loadingSplash{opacity:0;pointer-events:none;}


/* 主窗体 - 顶栏图标 */
header{position:fixed;top:0;height:35px;display:flex;justify-content:right;width:calc(100% - 138px);z-index:100;-webkit-app-region:drag;font-size:.95em;}
header i{font-family:"windowsicon";height:100%;width:46px;display:flex;align-items:center;justify-content:center;transition:background .2s,opacity .2s,color .2s;padding-bottom:1px;-webkit-app-region:no-drag;}
header i#lyricsBtn{font-size:.95em;padding-bottom:1px;font-family:"微软雅黑"!important;}
header i#miniBtn{transform:scaleY(-1);font-size:.95em;}
header i#devBtn{padding-top:2px;}
header i:hover{background:rgba(0,0,0,.07);}
header i:active{background:rgba(0,0,0,.2);opacity:.8;}
header i#closeBtn:hover{background:#E81123;color:white;}
header i#closeBtn:active{background:#E81123;color:rgba(252,252,252,.8);}
header i.active{color:#1E9FFF;}
.playerShown #miniBtn,.playerShown #lyricsBtn,.playerShown #devBtn{display:none;}
body:not(.playerShown) #hidePlayerBtn{display:none;}
.fullscreen header{display:none;}



/* 主窗体 - 左右容器 */
#homePage{height:100vh;transition:all .2s;}
.playerShown #homePage{transform:scale(.98);border-radius:20px;transition:all .5s;}


/* 主窗体 - 左侧界面 */
.left{position:fixed;top:0;bottom:0;width:var(--leftBarWidth);padding:35px 10px 0 10px;text-align:center;}
.left img{width:150px;max-width:calc(100% - 25px);}
.left .leftBar{margin-top:5px;text-align:left;overflow-y:scroll;padding-bottom:100px;height:calc(100% - 45px);}
.left .leftBar section{margin-top:2px;}
.left .leftBar .title{opacity:.5;padding:0 8px 0 10px;font-size:.9em;display:flex;align-items:center;margin-top:20px;margin-bottom:4px;}
.left .leftBar .title span{width:100%;}
.left .leftBar .title i{transition:background .2s;padding:2px;border-radius:5px;}
.left .leftBar .title i:hover{background:rgba(0,0,0,.1);}
.left .leftBar .title i:active{background:rgba(0,0,0,.2);}
.left .leftBar div{text-align:left;padding:4.5px 10px;height:30px;border-radius:5px;transition:all .2s,color .1s;position:relative;}
.left .leftBar div:hover{background:rgba(0,0,0,.05);}
.left .leftBar div:active{background:rgba(0,0,0,.1);}
.left .leftBar div.active{color:white;background:transparent;}
.left .leftBar div::before{content:"";background:linear-gradient(90deg,#1E9FFF,#1E9FFFBB);opacity:0;transition:opacity .2s;position:absolute;inset:0;z-index:-1;}
.left .leftBar div.active::before{opacity:1;}
.left .leftBar div[hidden]{display:block!important;pointer-events:none;transform:translateX(-100px) translateY(-4.5px);padding:0 10px;height:0;opacity:0;}



/* 主窗体 - 右侧界面 */
.right{position:fixed;top:0;right:0;bottom:0;width:calc(100% - var(--leftBarWidth));border-left:1px solid rgba(0,0,0,.05);background:rgba(252,252,252,.8);}
.right #rightPlaceholder{position:absolute;inset:0;bottom:80px;display:flex;align-items:center;justify-content:center;}
.right #rightPlaceholder img{width:150px;}
.right #leftBarResizer{position:absolute;z-index:10;left:-2.5px;width:5px;height:100%;top:0;cursor:col-resize;}
/* 歌单 */
.right .musicListTitle{padding:30px;height:180px;width:100%;display:flex;align-items:center;position:absolute;top:0;left:0;background:rgba(252,252,252,.9);backdrop-filter:blur(20px);border-bottom:1px solid rgba(0,0,0,.05);z-index:5;}
.right .musicListTitle img{width:120px;height:120px;background:white;border-radius:5px;object-fit:cover;}
.right .musicListTitle section{margin-left:30px;width:calc(100% - 150px);}
.right .musicListTitle section b{font-size:1.3em;display:block;}
.right .musicListTitle section .details{opacity:.8;font-size:.9em;margin:5px 0 10px 0;}
.right #musicListContainer>div:not(.show){display:none;}
.right #musicListContainer .tableContainer{width:100%;white-space:nowrap;padding:180px 0 100px 0;height:100vh;overflow-y:scroll;}
.right #musicListContainer .tableContainer table{table-layout:fixed;width:100%;max-width:100%;border-collapse:collapse;}
.right #musicListContainer .tableContainer table colgroup>col:nth-child(1){width:80px;}
.right #musicListContainer .tableContainer table colgroup>col:nth-child(2){width:30%;}
.right #musicListContainer .tableContainer table colgroup>col:nth-child(5){width:80px;}
.right #musicListContainer .tableContainer table th{font-weight:normal;text-align:left;opacity:.5;font-size:.9em;padding:5px 0;transition:opacity .2s;}
.right #musicListContainer .tableContainer table th:not(.disabled):hover,.right #musicListContainer .tableContainer table th:not(.disabled):active{opacity:.8;}
.right #musicListContainer .tableContainer table th span{display:flex;align-items:center;}
.right #musicListContainer .tableContainer table th span::after{font-family:"icon";content:"\EA4E";opacity:0;transition:opacity .2s,transform .2s;display:block;}
.right #musicListContainer .tableContainer table th.positiveOrder span::after{opacity:.8;margin-top:1px;}
.right #musicListContainer .tableContainer table th.reversedOrder span::after{opacity:.8;transform:rotate(180deg);margin-bottom:1px;}
.right #musicListContainer .tableContainer table td{overflow:hidden;text-overflow:ellipsis;}
body:not(.disableHighlight) .right #musicListContainer .tableContainer table td>m{background:#DAEFFF;}
.right #musicListContainer .tableContainer table td:first-child{padding:7px 10px 7px 30px;font-size:0;}
.right #musicListContainer .tableContainer table td:first-child img{width:35px;height:35px;background:white;border-radius:5px;}
.right #musicListContainer .tableContainer table td:last-child{padding:0 30px 0 0;width:100px;}
.right #musicListContainer .tableContainer table thead tr{background:transparent!important;}
.right #musicListContainer .tableContainer table tr{transition:background .1s;}
.right #musicListContainer .tableContainer table tr:hover{background:rgba(0,0,0,.025);}
.right #musicListContainer .tableContainer table tr:active{background:rgba(0,0,0,.05);}
.right #musicListContainer .tableContainer table tr.active{color:#1E9FFF;}
.right #musicListContainer .tableContainer table tr.selected{background:#DAEFFF!important;}
.right #musicListContainer .musicLocator{position:absolute;right:20px;bottom:100px;height:40px;width:40px;border:1px solid rgba(0,0,0,.1);border-radius:50%;background:rgba(252,252,252,.9);backdrop-filter:blur(20px);font-size:1.2em;display:flex;align-items:center;justify-content:center;transition:all .2s;}
.right #musicListContainer .musicLocator:hover{color:#1E9FFF;}
.right #musicListContainer .musicLocator:active{color:#1E9FFF;transform:scale(.95);filter:brightness(.95);}
.right #musicListContainer .musicLocator.hidden{transform:scale(.2);opacity:0;pointer-events:none;}
.right #musicListContainer .musicListErrorOverlay{position:absolute;inset:180px 0 80px 0;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.right #musicListContainer .musicListErrorOverlay img{width:120px;}
.right #musicListContainer .musicListErrorOverlay div{opacity:.5;margin-top:10px;font-size:1.2em;text-align:center;}
/* 搜索 */
.right .searchTitle{padding:30px;height:180px;border-bottom:1px solid rgba(0,0,0,.05);position:absolute;background:rgba(252,252,252,.9);backdrop-filter:blur(20px);width:100%;z-index:5;}
.right .searchTitle .searchTitleText{font-size:1.5em;}
.right .searchTitle .inputGroup{margin-top:50px;display:flex;white-space:nowrap;align-items:center;justify-content:center;width:100%;}
.right .searchTitle .inputGroup select{height:37px;border-radius:5px 0 0 5px;margin-right:2px;width:fit-content;padding:0 10px;}
.right .searchTitle .inputGroup input{height:37px;margin-right:10px;max-width:500px;width:100%;border-radius:0 5px 5px 0;padding:0 10px;}
.right .searchTitle .inputGroup button{height:37px;font-size:1.05em;}
.right #searchBottomIndicator{text-align:center;opacity:.8;margin-top:50px;margin:30px 0 10px 0;font-size:.9em;}
/* 下载 */
.right #downloadContainer{padding-top:90px!important;}
.right #downloadContainer>div{background:white;width:100%;border-radius:5px;margin-bottom:5px;padding:10px 15px;position:relative;height:65px;overflow:hidden;transition:background .2s;}
.right #downloadContainer>div[data-status="success"]{background:#EFF6EF;}
.right #downloadContainer>div[data-status="error"]{background:#FCEFEF;}
.right #downloadContainer>div>.info{display:flex;align-items:center;white-space:nowrap;position:absolute;inset:0;z-index:5;padding:0 15px;}
.right #downloadContainer>div>.info>.music{display:flex;flex-direction:column;width:calc(100% - 150px);}
.right #downloadContainer>div>.info>.music>span{display:block;opacity:.8;font-size:.9em;margin-top:3px;}
.right #downloadContainer>div[data-status="pending"]>.info>.music>span>i::after{content:"\F337";}
.right #downloadContainer>div[data-status="download"]>.info>.music>span>i::after{content:"\EC5A";}
.right #downloadContainer>div[data-status="success"]>.info>.music>span>i::after{content:"\EB7B";}
.right #downloadContainer>div[data-status="error"]>.info>.music>span>i::after{content:"\F4C8";}
.right #downloadContainer>div>.info>.buttons{display:flex;justify-content:flex-end;width:150px;}
.right #downloadContainer>div>.info>.buttons>i{width:30px;height:30px;display:flex;align-items:center;justify-content:center;font-size:1.1em;border-radius:50%;transition:background .2s;}
.right #downloadContainer>div>.info>.buttons>i:hover{background:rgba(0,0,0,.05);}
.right #downloadContainer>div>.info>.buttons>i:active{background:rgba(0,0,0,.1);}
.right #downloadContainer>div:not([data-status="error"])>.info>.buttons>i.errorOnly{display:none;}
.right #downloadContainer>div:not([data-status="success"])>.info>.buttons>i.successOnly{display:none;}
.right #downloadContainer>div>.progressBar{transition:width .2s,opacity .2s;position:absolute;inset:0;right:unset;background:#DAEFFF;width:var(--progressWidth);}
.right #downloadContainer>div:not([data-status="download"])>.progressBar{opacity:0;}
/* 扩展 */
.right #extensionContainer{padding-top:90px!important;}
.right #extensionContainer .block>div{white-space:nowrap;display:flex;zoom:.9;align-items:center;margin-right:15px;}
.right #extensionContainer .block>div>span{margin-left:5px;}
/* 设置 */
.right .page .header{padding:30px 30px 10px 30px;font-size:1.5em;border-bottom:1px solid rgba(0,0,0,.05);position:absolute;background:rgba(252,252,252,.9);backdrop-filter:blur(20px);width:100%;z-index:2;display:flex;align-items:center;}
.right .page .header i{margin-right:5px;}
.right .page .header small{font-size:.6em;margin-left:15px;opacity:.8;}
.right .page .container{position:absolute;z-index:1;padding:70px 27.5px 100px 27.5px;width:100%;height:100%;overflow-y:scroll;}
.right .page .title{font-weight:bold;margin:20px 2.5px 5px 2.5px;}
.right .page .block{background:white;width:100%;border-radius:5px;margin-bottom:5px;padding:10px 15px;display:flex;align-items:center;}
.right .page .block.highlight{background:#1E9FFF;color:white;}
.right .page .block{transform-origin:bottom;transition:margin-top .2s,opacity .2s,transform .2s;}
.right .page .block.folded{margin-top:calc(-5px - var(--height));opacity:0;pointer-events:none;transform:scaleY(0);}
.right .page .block section{width:100%;margin-right:10px;}
.right .page .block section div{font-size:1em;}
.right .page .block section div badge{font-size:.8em;background:rgba(0,0,0,.1);opacity:.5;padding:0 7px;margin-left:5px;margin-top:2px;vertical-align:top;border-radius:10px;display:inline-block;}
.right .page .block section span{display:block;font-size:.9em;opacity:.8;word-break:break-all;line-height:1.1em;margin-top:3px;}
.right .page .block button{white-space:nowrap;}
.right .page .block.highlight button{background:white!important;color:#1E9FFF;}
.right .page .block .range{min-width:150px;max-width:150px;}
.right .page .block .range>div{background:rgba(0,0,0,.05);}
.right .page .block input,.right .page .block select{min-width:150px;max-width:150px;}
.right .page .block .colorInput{background:rgba(0,0,0,.03);position:relative;border-radius:5px;}
.right .page .block .colorInput>input{opacity:0;}
.right .page .block .colorInput>span{position:absolute;inset:0;height:fit-content;margin:auto;text-align:center;text-transform:uppercase;}
.toggle{display:inline-block;height:20px;min-width:35px;max-width:35px;padding:2px;background:rgba(0,0,0,.05);border-radius:10px;vertical-align:middle;transition:background .2s;}
.toggle::before{transition:margin-left .2s,transform .2s;transform:scale(.7);width:16px;height:16px;background:white;border-radius:50%;content:"";display:block;}
.on .toggle{background:#1E9FFF;}
.on .toggle::before{margin-left:15px;transform:scale(.9);}
/* 关于 */
.right #aboutPage{padding:30px;overflow-y:scroll;}
.right #aboutPage .top{display:flex;align-items:center;}
.right #aboutPage .top>img{width:100px;height:100px;border-radius:5px;background:#1E9FFF;}
.right #aboutPage .top>div{margin-left:15px;}
.right #aboutPage .top>div>b{display:block;font-size:1.5em;}
.right #aboutPage .top>div>div{opacity:.8;font-size:.9em;}
.right #aboutPage .top>div>div>img{height:1.1em;margin-top:.2em;}
.right #aboutPage .main{display:flex;margin-top:50px;}
.right #aboutPage .main>div{width:100%;margin-right:10px;}
.right #aboutPage .main>div>div>b{font-size:1.2em;display:block;}
.right #aboutPage .main>div>div>span{font-size:.9em;opacity:.8;display:block;margin-bottom:5px;}
.right #aboutPage .main>div a{display:block;;}
.right #aboutPage .main>div section{background:white;display:flex;align-items:center;border-radius:5px;margin:15px 0;overflow:hidden;transition:background .2s;}
.right #aboutPage .main>div section:hover{background:rgba(0,0,0,.025);}
.right #aboutPage .main>div section:active{background:rgba(0,0,0,.05);}
.right #aboutPage .main>div section>img{width:80px;height:80px;}
.right #aboutPage .main>div section>div{margin-left:10px;}
.right #aboutPage .main>div section>div>b{display:block;font-size:1.2em;}
.right #aboutPage .main>div section>div>span{font-size:.9em;opacity:.8;display:block;margin-bottom:5px;}
/* 更新 */
.right #updateContainer{padding-top:90px!important;}
.right #updateInfo{background:white;margin:0 -2.5px;padding:5px 20px 15px 20px;}
.right #updateInfo p{margin:3px 5px;}
.right #updateInfo h1,.right #updateInfo h2,.right #updateInfo h3{margin:15px 5px 5px 5px;zoom:.9;}
.right #updateInfo h1{border-bottom:1px solid rgba(0,0,0,.05);padding-bottom:5px;}
.right #updateInfo ul,.right #updateInfo ol{margin:0;padding-left:23px;}
.right #updateInfo blockquote{background:rgba(0,0,0,.025);margin:5px 0;padding:7px 10px;border-radius:10px;}
.right #updateInfo blockquote p{margin:3px 0;}
.right #updateInfo img{margin-top:5px;background:white;border-radius:5px;width:100%;display:block;}
.right #updateInfo code{font-family:"Source Code Pro", "Consolas", "font";}
.right .operations{margin:0 -2.5px;padding-top:10px;text-align:right;}


/* 主窗体 - 文件拖入 */
#dropTipContainer{position:fixed;top:0;left:0;height:100%;width:100%;z-index:6;background:rgba(0,0,0,.1);border:0;border-radius:0;pointer-events:none;opacity:0;transition:opacity .2s;}
#dropTipContainer #dropTip{position:fixed;padding:5px 10px;border-radius:7px;background:white;border:1px solid #CDCDCD;box-shadow:0 4px 6px rgba(0,0,0,.04);pointer-events:none;font-size:.9em;height:fit-content;width:160px;}
#dropTipContainer #dropTip>i{color:#1E9FFF;}
.dragOver #dropTipContainer{opacity:1;}


/* 主窗体 - 主题图片 */
#themeImage{position:fixed;inset:0;width:100%;height:100%;object-fit:cover;opacity:.05;z-index:40;transition:opacity .2s;}
body:not(.themeImage) #themeImage{opacity:0;}
.themeImage .right #rightPlaceholder img{display:none;}
.themeImage #bottom,.themeImage .musicListTitle,.themeImage .right .page .header,.themeImage .musicLocator{background:rgba(255,255,255,.9);}


/* 主窗体 - 底部控件 */
.bottom{position:fixed;bottom:-90px;height:80px;width:100%;background:rgba(252,252,252,.9);backdrop-filter:blur(20px);transition:bottom .2s;}
.withCurrentMusic:not(.playerShown) .bottom{bottom:0;}
.bottom #bottomProgressBar{width:calc(100% - 10px);height:5px;position:absolute;left:5px;top:0;z-index:2;}
.bottom #bottomProgressBar>div{border-radius:0;height:6px;}
.bottom .progressBefore,.bottom .progressAfter{position:absolute;content:"";width:5px;height:6px;background:#1E9FFF;left:0;z-index:1;}
.bottom .progressAfter{background:rgba(0,0,0,.1);left:unset;right:0;}
.bottom .info{position:absolute;top:15px;bottom:8px;left:10px;display:flex;align-items:center;width:300px;}
.bottom .info .img{width:54px;height:54px;border-radius:5px;background:white;overflow:hidden;margin-right:10px;position:relative;transition:transform .2s;}
.bottom .info .img:active{transform:scale(.95);}
.bottom .info .img::after{content:"\EA78";font-size:2.5em;background:rgba(0,0,0,.2);position:absolute;inset:0;font-family:"icon";display:flex;align-items:center;justify-content:center;color:white;opacity:0;transition:opacity .2s;}
.bottom .info .img:hover::after,.bottom .info .img:active::after{opacity:1;}
.bottom .info .img>img{width:100%;height:100%;object-fit:cover;}
.bottom .info .musicInfoBottom{max-width:200px;}
.bottom .info .musicInfoBottom b{font-size:1.1em;}
.bottom .info .musicInfoBottom>div{position:relative;}
.bottom .info .musicInfoBottom>div div{transition:opacity .2s,transform .2s;}
.bottom .info .musicInfoBottom>div #miniModeStatus{position:absolute;top:0;left:0;width:100%;}
.miniModeStatus .bottom .info .musicInfoBottom>div #bottomArtist{transform:translateY(-3px);opacity:0;}
body:not(.miniModeStatus) .bottom .info .musicInfoBottom>div #miniModeStatus{transform:translateY(3px);opacity:0;}
.bottom .center{position:absolute;top:0;bottom:0;left:300px;right:300px;}
.bottom .center>div,.bottom .volBtnBottom>div{width:40px;height:40px;}
.bottom .center>div.play{width:55px;height:55px;}
.bottom .volBtnBottom{width:150px;position:absolute;top:5px;bottom:0;right:30px;display:flex;align-items:center;}
.bottom .volBtnBottom>div{opacity:.7;margin-right:5px;min-width:40px;height:40px;}



/* 主窗体 - 播放内页 */
#playPage{position:fixed;top:120vh;left:0;width:100%;height:100%;background:white;transition:top .3s;overflow:hidden;z-index:50;}
.playerShown #playPage{top:0;}
.darkPlayer{--SimAPTheme:rgba(255,255,255,.8)!important;}
.darkPlayer #playPage{background:black;color:rgba(255,255,255,.9);}
.darkPlayer #playPage b,.darkPlayer .lyrics>div>div.active{font-weight:normal;}
.darkPlayer #playPage .SimProgress{--SimProgressBackground:rgba(255,255,255,.1);}
.darkPlayer #playPage .SimProgress::after{background:white;}
.darkPlayer #playPage .SimLRC{--normalColor:rgba(255,255,255,.2)!important;}
.darkPlayer #playPage #background{opacity:.35;}
.darkPlayer #playPage #background canvas{opacity:.5;}
.darkPlayer.playerShown header i{color:rgba(255,255,255,.8);}
.darkPlayer .controls #album,.list>div>img{background:rgba(0,0,0,.1);}
.darkPlayer .controls .infoBar i{background:rgba(255,255,255,.025);color:rgba(255,255,255,.6);}
.darkPlayer .controls .infoBar i:hover,.darkPlayer .controls .infoBar i:active{background:rgba(255,255,255,.05);color:rgba(255,255,255,.8);}
.darkPlayer .controls .buttons>div:hover,.darkPlayer .controls .buttons>div:active{background:rgba(255,255,255,.05);}
.darkPlayer.musicLoading #progressBar>div{background-image:linear-gradient(-45deg,rgba(255,255,255,.05) 25%,transparent 0,transparent 50%,rgba(255,255,255,.05) 0,rgba(255,255,255,.05) 75%,transparent 0,transparent)!important;}
.darkPlayer.volume .controls .buttons>.volBtn{background:rgba(255,255,255,.05)!important;color:rgba(255,255,255,.8);}
.darkPlayer .list>div:hover{background:rgba(255,255,255,.025);}
.darkPlayer .list>div.active,.darkPlayer .list>div:active{background:rgba(255,255,255,.05);}
.darkPlayer.playerShown header i:hover{background:rgba(255,255,255,.05);}



/* 主窗体 - 迷你模式 */
.miniMode{background:transparent;}
.miniMode header{-webkit-app-region:no-drag;}
.miniMode .left,.miniMode .right{display:none;}
.miniMode .bottom{z-index:300;height:60px;background:white;}
.miniMode .bottom .progressBefore,.miniMode .bottom .progressAfter{display:none;}
.miniMode .bottom #bottomProgressBar{bottom:0;left:60px;top:unset;width:calc(100% - 60px);z-index:5;opacity:.8;;transition:opacity .2s,height .2s;}
.miniMode .bottom:hover #bottomProgressBar{height:7px;}
.miniMode .bottom #bottomProgressBar:hover,.miniMode .bottom #bottomProgressBar:active{height:7px;opacity:1;}
.miniMode .bottom #bottomProgressBar::after{display:none;}
.miniMode .bottom .info{top:0;bottom:0!important;left:0;width:170px;bottom:10px;}
.miniMode .bottom .info .img{width:60px;height:60px;border-radius:0;margin-right:10px;-webkit-app-region:drag;}
.miniMode .bottom .info .img::after{display:none;}
.miniMode .bottom .info .musicInfoBottom{font-size:1.1em;max-width:calc(100px / .75);zoom:.75;margin-bottom:5px;}
.miniMode .bottom .info .musicInfoBottom>div{margin-top:-1px;}
.miniMode .bottom .center{right:15px;zoom:.7;bottom:7.5px;width:220px;left:unset;}
.miniMode .bottom .center .bottomListBtn{display:none;}
body:not(.miniMode) .bottom .center .miniModeBtn{display:none;}
.miniMode .bottom .volume{display:none;}