
.playerContainer{position:absolute;inset:0;margin:20px max(calc(50vw - 500px), 90px);transition:transform .2s;}
#playPage .SimProgress{--SimProgressTheme:var(--SimAPTheme)!important;}

/* 音频控件 */
.controls{display:flex;flex-direction:column;width:350px;position:absolute;inset:0;height:fit-content;margin:auto 0;transition:margin .3s,transform .3s;z-index:5;}
.hideLyrics.hideList .controls{margin:auto calc(50% - 175px);transform:scale(1.05);}
.controls #album{width:calc(100% + 10px);aspect-ratio:1;object-fit:cover;border-radius:10px;box-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);background:white;margin:-5px;transition:transform .4s;transition-timing-function:cubic-bezier(0.3, 0.7, 0, 1.8);}
body.albumScale:not(.playing) .controls #album{transform:scale(.95);}
/* 专辑信息 */
.controls .infoBar{display:flex;align-items:center;margin:30px 0 10px 0;}
.controls .infoBar i{display:flex;align-items:center;justify-content:center;background:rgba(0,0,0,.025);color:rgba(0,0,0,.6);font-size:1.1em;border-radius:15px;width:30px;height:30px;transition:all .2s,font-size 0s;}
.controls .infoBar i:hover{background:rgba(0,0,0,.05);color:rgba(0,0,0,.8);}
.controls .infoBar i:active{background:rgba(0,0,0,.05);color:rgba(0,0,0,.8);transform:scale(.95);}
.sleepMode .controls .infoBar i{width:70px;font-size:.9em;font-family:"font";}
.controls .musicInfo{width:calc(100% - 30px)!important;}
.controls .musicInfo b,.controls .musicInfo div,.musicInfoBottom b,.musicInfoBottom>div{display:block;font-size:1.3em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.controls .musicInfo div,.musicInfoBottom>div{font-size:.9em;opacity:.8;}
/* 进度条 */
.controls .progressControl{display:flex;align-items:center;margin:10px 0;}
.controls .progressControl span{width:55px;font-size:.85em;opacity:.8;}
.controls .progressControl span:last-child{text-align:right;}
.musicLoading #progressBar>div,.musicLoading #bottomProgressBar>div{animation:progressLoading 1s linear infinite;background-image:linear-gradient(-45deg,rgba(0,0,0,.05) 25%,transparent 0,transparent 50%,rgba(0,0,0,.05) 0,rgba(0,0,0,.05) 75%,transparent 0,transparent)!important;background-repeat:repeat-x;background-size:25px 20px;}
@keyframes progressLoading{to{background-position:25px 0;}}
/* 下方按钮 */
.controls .buttons,.bottom .center{align-items:center;margin-top:5px;display:flex;align-items:center;justify-content:center;}
.controls .buttons>div,.bottom .center>div,.bottom .volBtnBottom>div{width:50px;height:50px;position:relative;font-size:1.5em;transition:all .3s;opacity:.3;border-radius:100px;overflow:hidden;}
.controls .buttons>div:hover,.bottom .center>div:hover,.bottom .volBtnBottom>div:hover{background:rgba(0,0,0,.05);opacity:.7;}
.controls .buttons>div:active,.bottom .center>div:active,.bottom .volBtnBottom>div:active{background:rgba(0,0,0,.1);opacity:.7;transform:scale(.95);}
.controls .buttons>div>i,.bottom .center>div>i,.bottom .volBtnBottom>div>i{display:block;width:fit-content;height:fit-content;position:absolute;inset:0;margin:auto;transition:all .3s;}
.controls .buttons>div.larger>i,.bottom .center>div.larger>i{font-size:1.15em;padding-bottom:1px;}
.controls .buttons>.play,.bottom .center>.play{width:60px;height:60px;font-size:2.1em;opacity:1!important;font-weight:bold;}
.controls .buttons>.play>i:last-child,.bottom .center>.play>i:last-child{opacity:0;transform:scale(.4);}
.playing .controls .buttons>.play>i:first-child,.playing .bottom .center>.play>i:first-child{opacity:0;transform:scale(.4);}
.playing .controls .buttons>.play>i:last-child,.playing .bottom .center>.play>i:last-child{opacity:1;transform:none;}
.controls .buttons>.play i:first-child,.bottom .center>.play i:first-child{padding-left:3.5px;}
.playBtnColor .controls .buttons{color:var(--SimAPTheme);}
.playBtnColor .bottom .center>.play{color:#1E9FFF;}
/* 音量控制 */
.volume .controls .buttons>div{width:0;opacity:0!important;}
.volume .controls .buttons>.volBtn{width:180px;color:rgba(0,0,0,.7);background:rgba(0,0,0,.05)!important;transform:none!important;opacity:1!important;mask:unset;border-radius:100px;}
.volume .controls .buttons>.volBtn>i{right:120px;}
.volume .controls .buttons>.volBtn>i:hover{color:var(--SimAPTheme);}
.controls .buttons>.volBtn>div{width:calc(100% - 85px);position:absolute;margin:auto 0;top:0;bottom:0;right:30px;opacity:0;pointer-events:none;transition:opacity .3s;}
.volume .controls .buttons>.volBtn>div{opacity:1;pointer-events:all;}
.loopList .loopBtn i::after{content:"\F072";}
.loopSingle .loopBtn i::after{content:"\F075";}
.loopRandom .loopBtn i::after{content:"\F124";}
/* 3D特效 */
body:not(.hideLyrics.hideList) .playerContainer{transform:translateX(-25px);}
.threeEffect .controls{transform:perspective(900px) rotateY(10deg);}
.threeEffect .lyrics,.threeEffect .list{transform:perspective(900px) rotateY(-12.5deg);}

/* 歌词区域 */
.lyrics{position:absolute;left:410px;top:0;width:calc(100% - 410px);font-size:var(--lrcSize);height:100%;transform-origin:left center;transition:all .3s;mask:linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.6) 15%,#fff 25%,#fff 75%,hsla(0,0%,100%,.6) 85%,hsla(0,0%,100%,0));}
.hideLyrics .lyrics{transform:scale(.6);opacity:0;pointer-events:none;}
.lyrics>div{height:100%;}
.lyrics>div>div.active{font-weight:bold;}
body:not(.hideLyrics) .lyricsBtn{color:var(--SimAPTheme);opacity:.7;}
.disableLyricsBlur .lyrics div div{filter:none!important;}

/* 播放列表 */
.list{position:absolute;left:410px;top:0;width:calc(100% - 410px);height:100%;transform-origin:left center;transition:all .3s;overflow-y:scroll;mask:linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.6) 15%,#fff 25%,#fff 75%,hsla(0,0%,100%,.6) 85%,hsla(0,0%,100%,0));}
.list::before,.list::after{content:"";display:block;height:50%;}
.hideList .list{transform:scale(.6);opacity:0;pointer-events:none;}
body:not(.hideList) .listBtn{color:var(--SimAPTheme);opacity:.7;}
.list>div{width:100%;padding:0 10px;height:80px;border-radius:10px;display:flex;align-items:center;transition:background .2s;}
.list>div:hover{background:rgba(0,0,0,.025);}
.list>div.active,.list>div:active{background:rgba(0,0,0,.05);}
.list>div.removed{transition:all .3s,opacity .15s;height:0;background:rgba(0,0,0,.025);opacity:0;transform:scaleX(.9) scaleY(.5);}
.list>div>img{min-width:60px;height:60px;border-radius:5px;margin-right:10px;background:white;}
.list>div>div{width:calc(100% - 100px);}
.list>div>div>b{display:block;width:100%;font-size:1.1em;}
.list>div>div>span{display:block;width:100%;opacity:.8;font-size:.9em;}
.list>div i{opacity:.3;width:30px;height:30px;display:flex;align-items:center;justify-content:center;transition:opacity .2s;}
.list>div i:hover,.list>div i:active{opacity:.8;}
.list>div.active i{opacity:0;pointer-events:none;}



/* 流光背景 */
#background{z-index:-1;inset:0;position:absolute;pointer-events:none;opacity:.2;transition:background .3s;}
#background>div{position:absolute;inset:0;background:linear-gradient(135deg, rgba(255,255,255,.1), rgba(255,255,255,.5));}
.disableBackgroundBlur #background>canvas{display:none;}

