@font-face{font-family:"icon";src:url("../icon.woff2");}
@font-face{font-family:"windowsicon";src:url("../windowsicon.ttf");}
@font-face{font-family:"font";src:url("../font.ttf");}
html{font-size:16px;user-select:none;font-family:"font","微软雅黑";background:#F9F9FB;}
body{margin:0;}
i{font-family:"icon";font-style:normal;}
img{pointer-events:none;}
*{box-sizing:border-box;outline:none;}
*[hidden]{display:none!important;}
::-webkit-scrollbar{display:none;}
button{background:#1E9FFF;color:white;border:0;border-radius:5px;padding:0 20px;font-size:16px;transition:filter .2s;font-family:inherit;height:30px;margin-left:5px;}
button.sub{background:#DAEFFF;color:#1E9FFF;}
button.square{width:30px;padding:0;}
button:hover{filter:brightness(.95);}
button:active{filter:brightness(.9);}
button:disabled{filter:grayscale(1)!important;}
header{position:fixed;top:0;height:35px;display:flex;align-items:center;justify-content:right;width:100%;z-index:100;-webkit-app-region:drag;}
header i{font-family:"windowsicon";height:100%;width:40px;display:flex;align-items:center;justify-content:center;transition:background .2s,opacity .2s,color .2s;-webkit-app-region:no-drag;}
header i:hover{background:rgba(0,0,0,.05);}
header i:active{background:rgba(0,0,0,.1);opacity:.8;}
header i#closeBtn:hover{background:#E81123;color:white;}
header i#closeBtn:active{background:#E81123;color:rgba(255,255,255,.8);}


header>div{width:calc(100% - 40px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:15px;}
#progressBar{top:33px;height:2px;border-radius:2px;left:-5px;width:0px;background:#1E9FFF;position:fixed;transition:width .5s linear;}
#progressBar.finished{animation:finished .8s;display:none;}
@keyframes finished{0%{opacity:1;display:block;}50%{width:97vw;opacity:1;display:block;}100%{width:calc(100vw + 5px);opacity:0;display:block;}}

webview{position:fixed;top:35px;width:100vw;height:calc(100vh - 35px);border-top:1px solid rgba(0,0,0,.1);background:white;}
.buttons{display:none;}
.showBtn webview{height:calc(100vh - 90px);}
.showBtn .buttons{position:fixed;display:flex;align-items:center;justify-content:center;height:55px;width:100%;bottom:0;border-top:1px solid rgba(0,0,0,.1);}